*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Noto Naskh Arabic', serif;
}

body{
    background:linear-gradient(135deg,#0d0d0d,#1c1c1c,#000);
    color:#fff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.card{
    width:100%;
    max-width:700px;
    background:rgba(20,20,20,.92);
    border:2px solid #d4af37;
    border-radius:25px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 0 40px rgba(212,175,55,.35);
}

.ayah{
    color:#f7d774;
    font-size:20px;
    line-height:2;
}

.ayah p{
    margin-top:10px;
    font-size:16px;
    color:#d8c27a;
}

h1{
    margin:35px 0;
    font-size:48px;
    color:#ffd700;
}

.heart{
    font-size:42px;
    margin:10px 0;
}

.text{
    margin:18px 0;
    line-height:2;
    font-size:22px;
}

.info{
    margin-top:35px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.info div{
    border:1px solid #d4af37;
    border-radius:15px;
    padding:15px;
}

.info h3{
    color:#ffd700;
    margin-bottom:10px;
}

footer{
    margin-top:35px;
    color:#e6c45b;
    font-size:22px;
}
    
